.App {
  text-align: center;
	color: white;
	background-color: black;
	min-height: 100vh;
	padding-bottom: 80px;
}

.button {
	color: white;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 4px;
	padding: 5px 10px;
}

#home img {
	z-index: 0;
	opacity: 0.3;
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
#home .intro {
	z-index: 123;
	position: relative;
}

h1 {
	margin: 40px 0 30px 0;
}

input, textarea {
	padding: 10px 20px;
	background: transparent;
	border: 1px solid white;
	color: white;
	border-radius: 8px
}

input:active,
textarea:focus {
	border: 1px solid red!important;
}

input[type=submit] {
	margin-top: 10px;
	background: white;
	color: black;
	font-weight: bold;
	padding: 10px 30px;
}
.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* margin-bottom: 40px; */
	color: black;
	background: white;
	border: 1px solid lightgray;
	border-radius: 8px;
	padding: 10px;
	margin: 10px;
}

.product {
	transition: .4s;
}

.product img {
	border-radius: 10%;
	object-fit: cover!important;
	margin: 20px 0;
}

.product:hover {
	transform: scale(1.03);
}

.products {
	max-width: 1300px;
	margin: 0 auto;
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: auto auto auto;
}

button {
	margin: 10px 0;
	background: black;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 8px;
	transition: .4s;
	border: 1px solid transparent;
}

button:hover {
	background: white;
	color: black;
	border: 1px solid black;
}

.single-product img {
	max-width: 300px;
}

.single-product {
	margin: 0 auto;
	max-width: 600px;
}

.login-form, .signup-form {
	text-align: left;
	max-width: 400px;
	margin: 0 auto;
}

table {
  margin: 3%;
}

td, th {
  border: 1px solid black;
}

.image {
	max-width: 100px;
	width: 100%;
	object-fit: contain;
}

.lang {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.lang:hover {
  opacity: 0,7;
  cursor: pointer;
}

.lang:active {
  padding: 1px;
}

.map {
	height: 500px;
}

.carousel {
	width: 650px;
	max-height: 300px;
	object-fit: contain;
	margin: 0 auto;
}

.carousel * {
	color: white;
}

.carousel img {
	width: 650px;
	max-height: 300px;
	object-fit: contain;
	margin: 0 auto;
}
ul {
	padding: 0;
	display: flex;
	justify-content: center;
}
ul li {
	list-style: none;
	padding: 5px 10px;
	margin: 0 5px;
	background: white;
	color: black;
	border-radius: 6px;
}

.navbar-dark {
	background-color: black;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.474);
}
.nav-link {
	color: rgb(255, 255, 255);
}

#responsive-navbar-nav {
	justify-content: flex-end;
}

select {
	border: 1px solid white;
	background: transparent;
	border-radius: 8px;
	padding: 10px;
	color: white;
}

select option {
	background: transparent;
	border-radius: 8px;
	padding: 10px;
	color: black;
}

footer {
	box-shadow: 0 0 20px 5px rgba(136, 136, 136, 0.389);
	border-top: 1px solid white;
	background-color: white;
	width: 100%;
	position: fixed;
	padding-top: 19px;
	padding-bottom: 20px;
	bottom: 0px;
	z-index: 9999;
}

footer a {
	margin: 0 5px;
	text-decoration: none;
	color: black;
}